# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Build
/build/
**/build/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/key.properties
.gradle/
/captures/
/outputs/

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Web related
/lib/generated_plugin_registrant.dart

# VS Code & IntelliJ
.idea/
*.iml
*.ipr
*.iws
.vscode/

# MacOS & Linux related
/macos/Flutter/ephemeral/
/linux/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase or secret keys (optional but recommended)
*.keystore
*.pem
*.p12
*.jks
google-services.json
GoogleService-Info.plist
.env
.env.*
